<h1>Tasks</h1>

<ul>
<% @tasks.each do |task| %>
<li><%= link_to task.title, task_path(task.id) %> <%= link_to "del", del_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
<% end %>
</ul>

<%= link_to "New task", tasks_new_path %>
